html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

@media only screen and (max-width: 1700px) {
    [class*="col-"] {
        width: 100%;
    }
}

[class*="col-"] {
    float:left; padding:1vw;
}

.navitem {
    text-align: center;
    margin-left: 0;
    font-size: 1.5em;
}

nav{
  clear: both;
}



body{
    margin:0;
    padding:0;
    background-color: black;
    font-family: "DIN Condensed", sans-serif;
    color: white;
}

#logoHome{
    width: 100%;
    height: 100%;
}

#home{
    position: absolute;
    z-index: 0;
}

#enter{
    color: #ffffff;
    z-index: 1;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "DIN Condensed", sans-serif;
    font-size: 1.3vw;
    background-color: transparent;
    /*background: linear-gradient(90deg, goldenrod, hotpink, blue, lightblue, goldenrod);*/
    transition-property: background-color;
    background-size: 400%;
    transition-duration: 1s;
    box-sizing: border-box;
    border-radius: 30px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
}

#enter:hover{
    /*animation: animate 8s linear infinite;*/
    background-color: goldenrod;
}

/*@keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}*/

#tazza{
    width: 40%;
    height: 40%;
    max-width: 200px;
}

#slideshow{
  border: 1px solid red;
}

#video{
  margin-top: 10%;
  width:100%;
  height:100%;
/*  background-color: red;*/
  float: left;
  clear: both;
}

a{
    color: #fff;
    transition-property: color;
    transition-duration: 0.5s;
    text-decoration: none;
}

a:hover{
  color: grey;
}

.social{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

footer{
  border-top: 2px solid goldenrod;
}
