body{
    margin:0;
    padding:0;
    background-color: black;
    font-family: "DIN Condensed", sans-serif;
    color: white;
}

#logoHome{
    width: 100%;
    height: 100%;
}

#home{
    position: fixed;
}

#enter {
    color: #ffffff;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "DIN Condensed", sans-serif;
    font-size: 2em;
    /*background: linear-gradient(90deg, goldenrod, hotpink, blue, lightblue, goldenrod);*/
    transition-property: background-color;
    transition-duration: 1s;
    background-size: 400%;
    box-sizing: border-box;
    border-radius: 30px;
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 10px;
}

#enter:hover{
    /*animation: animate 8s linear infinite;*/
    background-color: goldenrod;
}

/*@keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}*/

a{
    color: #fff;
    text-decoration: none;
}
